<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>테스트테스트</title>
    <!-- prevent IE6 flickering -->

    <script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&amp;key=2f114b611857428c175e39f5eafb191a"></script>
    <!-- <script type="text/javascript" src="jquery-2.1.1.js"></script>-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <style>
        ._nmap_marker {
            border-radius: 25px;
        }
    </style>
</head>

<body style="padding:0px;margin:0px;">
    <div id="bar" style="width:100%;height:50px; background:#0094ff;">
        <img src="{{url_for('static',filename='profile.png')}}" style="height:100%;border-radius:25px;">
        <img src="{{url_for('static',filename='GPS.png')}}" style="height: 100%; float: right; -webkit-filter: invert(100%);" onclick="javascript:location.reload()">
        <button onclick="javascript:toggleComment();">이거누르면ㅄ</button>
    </div>
    <div id="testMap" style="width: 590px; height: 490px; margin: 0px; padding: 0px; background: gray;">
    </div>

    <script type="text/javascript">
        var posYes = false;//gps값을 읽어왔을때.. true
        var oPoint;//내 GPS상의 위치
        var curr_cmts;//현재까지 불러온 코멘트리스트
        var new_cmts;//새로 받아온 코멘트 리스트
        var showAll = true;
        var radius = 50; //중심 위치로부터 글을 읽을 수 있는 거리
        //테스트셋
        var test = {
            53: { "user_id": "james", "content": "12345", "lat": 37.45434, "lng": 127.09876 },
            2: { "user_id": "james", "content": "ㅀㅎㅎ", "lat": 37.465654, "lng": 127.234 },
            5: { "user_id": "james", "content": "ㅇㅀㅎㅎ", "lat": 37.979797, "lng": 127.657 },
            6: { "user_id": "jwt", "content": "ㅇㅀㅎ", "lat": 37.7567, "lng": 127.456 },
            7: { "user_id": "james", "content": "ㄹㅇㅎㅎㅎ", "lat": 37.123, "lng": 127.3254 },
        }
        var test1 = {
            9: { "user_id": "james", "content": "테스트메시지입니다", "lat": 37.00987, "lng": 127.0008 },
            1: { "user_id": "jwt", "content": "여기는어디죠", "lat": 37.5885621, "lng": 127.0349458 },
            41: { "user_id": "james", "content": "ㅠㅠ", "lat": 37.5885621, "lng": 127.778 },
            71: { "user_id": "james", "content": "afdadfsafdsadf", "lat": 37.423, "lng": 127.4567 },
            6: { "user_id": "jwt", "content": "이건중복이라서나오면안되는글자 ㅋ", "lat": 37.76, "lng": 127.109876 },
        }
        var myId = "jwt";
        var curr_cmts = test;


        $(function () {
            //gps얻어오기
            getGPS();
            $(window).resize(function () {
                oMap.setSize(new nhn.api.map.Size($(window).width(), $(window).height() - 50));
            });
        });

        function getGPS() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(posSuccess, posError);//위치를 받아온 후 createMap 실행
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        };
        function posError(error) {// error handling
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("위치 정보 사용 설정 해주세요 ㅠㅠ");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.")
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.")
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.")
                    break;
            }
            posYes = false;
            createMap(37.5885621, 127.0349458);//default위치(고려대학교)를 중심으로 지도를 그린다.
        }
        function posSuccess(pos) { //gps성공할시
            posYes = true;
            createMap(pos.coords.latitude, pos.coords.longitude);
        }

        function getComment() { // map이 move할때마다
            /*
            데이터얻어오는부분
            */
            new_cmts = test1;

            for (var i = 0; i < Object.keys(curr_cmts).length; i++) {
                var cmnt_id = Object.keys(curr_cmts)[i];
                delete new_cmts[cmnt_id]; //새로 받아온 코멘트가 이미 중복된것이면 지운다
            }
            //데이터 정리하는부분 new_cmts
            showComment();
        }
        //메시지 출력 함수
        function showComment() {
            //테스트

            /*var oIcon = new nhn.api.map.Icon('jeong.jpg', new nhn.api.map.Size(40, 40));
            var test = new nhn.api.map.Marker(oIcon, {
                //point: new nhn.api.map.LatLng(37.584068099999996, 127.0277297),
                point: new nhn.api.map.LatLng(37.5887197, 127.0293535),
                title: "정원태 : 기계학습 개X끼!!"
            });
            oMap.addOverlay(test);
            //test.setVisible(true);

            var oLabel = new nhn.api.map.MarkerLabel(); // - 마커 라벨 선언.
            oMap.addOverlay(oLabel); // - 마커 라벨 지도에 추가. 기본은 라벨이 보이지 않는 상태로 추가됨.
            //oLabel.setVisible(true, test);
            var oIcon = new nhn.api.map.Icon('profile.png', new nhn.api.map.Size(40, 40));
            var test = new nhn.api.map.Marker(oIcon, {
                //point: new nhn.api.map.LatLng(37.584068099999996, 127.0277297),
                point: new nhn.api.map.LatLng(37.5887197, 127.0293533),
                title: "정원태 : 모델링도 개X끼!!"
            });
            oMap.addOverlay(test);
            //test.setVisible(true);

            var oLabel = new nhn.api.map.MarkerLabel(); // - 마커 라벨 선언.
            oMap.addOverlay(oLabel); // - 마커 라벨 지도에 추가. 기본은 라벨이 보이지 않는 상태로 추가됨.
            // oLabel.setVisible(true, test);
            ////////테스트 끝
            */



            for (var i = 0 ; i < Object.keys(new_cmts).length; i++) { //지도에 추가
                var id = Object.keys(new_cmts)[i];
                var oIcon = new nhn.api.map.Icon('http://61.43.139.138:5000/static/profile.png', new nhn.api.map.Size(40, 40));
                var tmpPoint = new nhn.api.map.LatLng(new_cmts[id].lat, new_cmts[id].lng);
                /***********************************수정할 부분******************************************************/
                if (tmpPoint.getDistanceFrom(oPoint) <= radius) {//범위안일때
                    var tmp = new nhn.api.map.Marker(oIcon, {
                        point: tmpPoint,
                        title: new_cmts[id].content
                    });
                    // oMap.addOverlay(tmp);
                    var oLabel = new nhn.api.map.MarkerLabel(); // - 마커 라벨 선언.
                    oMap.addOverlay(oLabel); // - 마커 라벨 지도에 추가. 기본은 라벨이 보이지 않는 상태로 추가됨.
                    oLabel.setVisible(true, tmp);

                }
                else {//범위밖일때
                    var tmp = new nhn.api.map.Marker(oIcon, {
                        point: tmpPoint,
                        title: "범위밖"
                    });
                    // oMap.addOverlay(tmp);
                    var oLabel = new nhn.api.map.MarkerLabel(); // - 마커 라벨 선언.
                    oMap.addOverlay(oLabel); // - 마커 라벨 지도에 추가. 기본은 라벨이 보이지 않는 상태로 추가됨.
                    oLabel.setVisible(true, tmp);
                }
                /***********************************수정할 부분******************************************************/
            }
            //현재 표시된 리스트에 추가
            $.extend(curr_cmts, new_cmts);
        }
        function toggleComment() {
            showAll = !showAll;//토글
            oMap.clearOverlay();
            for (var i = 0 ; i < Object.keys(curr_cmts).length; i++) { //지도에 추가
                var id = Object.keys(curr_cmts)[i];
                var oIcon = new nhn.api.map.Icon("http://61.43.139.138:5000/static/profile.png", new nhn.api.map.Size(40, 40));
                var tmpPoint = new nhn.api.map.LatLng(curr_cmts[id].lat, curr_cmts[id].lng);
                /***********************************수정할 부분******************************************************/
                if (tmpPoint.getDistanceFrom(oPoint) <= radius) {//범위안일때
                    var tmp = new nhn.api.map.Marker(oIcon, {
                        point: tmpPoint,
                        title: new_cmts[id].content
                    });
                    // oMap.addOverlay(tmp);
                    var oLabel = new nhn.api.map.MarkerLabel(); // - 마커 라벨 선언.
                    oMap.addOverlay(oLabel); // - 마커 라벨 지도에 추가. 기본은 라벨이 보이지 않는 상태로 추가됨.
                    oLabel.setVisible(true, tmp);

                }
                else {//범위밖일때
                    var tmp = new nhn.api.map.Marker(oIcon, {
                        point: tmpPoint,
                        title: "범위밖"
                    });
                    var oLabel = new nhn.api.map.MarkerLabel(); // - 마커 라벨 선언.
                    oMap.addOverlay(oLabel); // - 마커 라벨 지도에 추가. 기본은 라벨이 보이지 않는 상태로 추가됨.
                    oLabel.setVisible(true, tmp);
                }
                /***********************************수정할 부분******************************************************/
            }

        }



        //현재위치 표시 함수(원모양으로)
        function myLocation(oPoint) {
            if (posYes) { //사용자 위치 표시하는 원 그리기
                var circle = new nhn.api.map.Circle(
                    {
                        strokeColor: "red",//선 색
                        strokeOpacity: 0.1,
                        strokeWidth: 3,
                        fillColor: "#0094ff",
                        fillOpacity: 0.1
                    }
                    );
                circle.setCenterPoint(oPoint);
                circle.setRadius(100);//단위는 meter;
                oMap.addOverlay(circle);
            }
        }
        function initFunc() {//처음 실행 시 한번 실행되는 초기화 함수
            myLocation(oPoint);//gps원 그린다
            getComment();//첫 화면에서 읽어온 코멘트
        }


        function createMap(lat, lng) {
            //지도 생성 함수
            oPoint = new nhn.api.map.LatLng(lat, lng);//gps를 통해 얻은 현재 위치 좌표값 OR 좌표를 못받으면 그냥 서울시
            nhn.api.map.setDefaultPoint('LatLng');
            oMap = new nhn.api.map.Map('testMap', {
                point: oPoint,
                zoom: 13,
                enableWheelZoom: true,
                enableDragPan: true,
                enableDblClickZoom: false,
                mapMode: 0,
                activateTrafficMap: false,
                activateBicycleMap: false,
                minMaxLevel: [1, 14],
                size: new nhn.api.map.Size($(window).width(), $(window).height() - 50)
            });
            if (posYes) {//gps를 읽어왔을때만..
                initFunc();//초기화 함수
                oMap.attach('move', function (oEvent) { getComment(); });//지도가 움직일때마다, 코멘트 불러오기 이벤트를 추가
            }


            /////////////화면 가림
            var p1 = new nhn.api.map.LatLng(30.3466388, 116.1252694);
            var p2 = new nhn.api.map.LatLng(30.3466388, 137.3551916);
            var p3 = new nhn.api.map.LatLng(44.1447805, 137.3551916);
            var p4 = new nhn.api.map.LatLng(44.1447805, 116.1252694);
            var blacksheepwall = new nhn.api.map.Polygon([p1, p2, p3, p4], {
                fillColor: "black",
                fillOpacity: 0.5
            });
            oMap.addOverlay(blacksheepwall);
        }
    </script>
</body>
</html>
