<!doctype html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

<title>{% block title %}Goodle{% endblock %}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/bootstrap.css')}}">
<link rel=stylesheep type=text/css href="{{ url_for('static',filename='css/bootstrap-combined.min.css')}}">
<link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/goodle.css')}}">
<link rel=stylesheet type=text/css href="{{ url_for('static',filename='icon.css')}}">
<body>
    <!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar navbar-inverse navbar-fixed-top" style="padding-top:4px;margin-bottom:0px">
	<div class="navbar-inner">
		<div class="container-fliud">
		  <a class="brand">Goodle</a>
		  <a href="{{url_for('map')}}">
                    <img src={{url_for('static',filename='Logo.png')}} style="width:70px;float:left" />
        	  </a>

		<div class="nav-collapse collcapse">
			{% if user %}
                        <ul class="nav nav-pills pull-right">
                         <li>
                          <form class="input-append" method="GET" action="/search" style="margin-top:4px;margin-bottom:5px;">
                            <input type="text" title="Enter keyword to find" id="kw" name="kw" class="span2" maxlength="40">
                            <button type="submit" class="btn"><img class="search-icon" src={{url_for('static',filename='glyphicons-28-search.png')}}/></button>
                          </form>
                         </li>
                        <a href="{{ url_for('logout') }}" style="margin:4px; float: right; ">
                                <button class="btn-danger btn" style="background-color:#c9302c; color:#fff">Log out</button>
                        </a>
                        </ul>
                        {% endif %}
		</div>
		</div>
	</div>
</div>
{% with flashes = get_flashed_messages() %}
	{% if flashes %}
		<ul class=flashes>
		{% for message in flashes %}
			<li>{{message}}</li> 
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}
<div class="main">
{% block body %} {% endblock %}
</div>
</body>

