<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MAPIA :: Login</title>
  <link rel="stylesheet" href="../static/css/login.css">
  <script src='../static/js/jquery-1.9.1.min.js'></script>
  <script src="../static/js/common.js"></script>
</head>
<body>
  <div id="main">
    <div id="appname">
      <span class="map">map</span>
      <span class="ia">ia</span>
    </div>
    
    <div id="form">
      <input class="id box" id="login_id" name="id" type="text" placeholder="아이디">
      <input class="pw box" id="login_pw" name="pw" type="password" placeholder="비밀번호">
      <input class="login box" type="submit" value="로그인">
    </div>
    
    <div id="social_login">
      <table class="sns_icon">
        <tr>
          <td class="fb">
            <a href=""><img src="../static/icon/drawable-hdpi/post_facebook.png" alt="Facebook"></a>
          </td>
          <td class="tw">
            <a href=""><img src="../static/icon/drawable-hdpi/post_twitter.png" alt="Twitter"></a>
          </td>
          <td class="ig">
            <a href=""><img src="../static/icon/drawable-hdpi/post_instagram.png" alt="Instagram"></a>
          </td>
        </tr>
      </table>
    </div>
    <div id="register">계정이 없으신가요?
      <span class="join"><a href="#">가입하기</a></span>
    </div>
  </div>
</body>
</html>
