<html>
<head>

<style>
._nmap_marker {
	border-radius: 25px;
}
</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
<script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&amp;key=0ea12b4c57ff56ef744e090ed5a68ec5"></script>

<!--<img src='GPS.png' style="height: 10px; float: left; -webkit-filter: invert(100%);" onclick="javascript:location.reload()">-->
</head>
<body>
<div id="testMap" style="width: 590px; height: 490px; margin: 0px; padding: 0px; ">
</div>
<script type="text/javascript">
	var username = '{{user}}';
</script>
<script type="text/javascript" src='http://kweb.korea.ac.kr/~zmlz0727/modeling.js'></script>
</body>
</html>
