{% extends "layout.html" %}
{% block title %}Goodle{% endblock %}
{% block body %}


<style>
._nmap_marker {
	border-radius: 25px;
}
</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
<script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&amp;key=46253c3ba3b79ca002e892470e47a27a"></script>

<!--<img src='GPS.png' style="height: 10px; float: left; -webkit-filter: invert(100%);" onclick="javascript:location.reload()">-->
<div id="testMap" style="width: 590px; height: 490px; margin: 0px; padding: 0px; ">
</div>

<div style="position:fixed; top:100px; right 30px; width:50px;heihgt:50px;background-color:red" id="center"></div>

<script type="text/javascript">
	var username = '{{user}}';
</script>
<script type="text/javascript" src='http://kweb.korea.ac.kr/~zmlz0727/modeling.js'></script>
{% endblock %}
