<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MAPIA TEST</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="contents">
        <div class="title">모두의 지도</div>
        <div class="menubar">
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
            
        </div>
        <div class="content">
            <div class="top">
                <img class="profile" src="../static/img/picsample.png" width="33px" height="33px">
                <div class="top_name">허윤지</div>
                <div class="top_date">11/12</div>
            </div>
            <div class="text">안녕하세요 컴퓨터학과 허윤지입니다. 안녕하세요 컴퓨터학과 허윤지입니다.</div>
            <div class="pic"><img src="../static/img/picsample.png
" ></div>
            <div class="like_num">좋아요 333개 댓글 111개</div>
            <nav class="like">
                <ul>
                    <li><a href="#">좋아요</a></li>
                    <li><a href="comment.html">댓글</a></li>
                    <li><a href="#">공유</a></li>
                </ul>
            
            </nav>
        </div>
        <div class="gap"></div>
        <div class="content">
            <div class="top">
                <img class="profile" src="../static/img/picsample.png" width="33px" height="33px">
                <div class="top_name">허윤지</div>
                <div class="top_date">11/12</div>
            </div>
            <div class="text">안녕하세요 컴퓨터학과 허윤지입니다.안녕하세요 컴퓨터학과 허윤지입니다.</div>
            <div class="pic"><img src="../static/img/picsample.png
" ></div>
            <div class="like_num">좋아요 333개 댓글 111개</div>
            
            <div class="like">
                <ul>
                    <li><a href="#">좋아요</a></li>
                    <li><a href="comment.html">댓글</a></li>
                    <li><a href="#">공유</a></li>
                </ul>
            
            </div>
        </div>
    </div>
    
    </body>
</html>