<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MAPIA :: Register</title>
  <link rel="stylesheet" href="../static/css/login.css">
  <style>
    #form > p {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 35px;
    }

    #do_login {
      text-align: center;
      margin-top: 40px;
      font-size: 21px;
    }

    .create.box {
      width: 380px;
      padding-left: 0px;
      border: 1px solid #ff5453;
      background-color: #f3f3f3;

      color: #ff5453;
    }

    .create.box:hover {
      background-color: #ff5453;
      color: #ffffff;
    }
  </style>
</head>
<body>
  <div id="main">
    <div id="appname">
      <span class="map">map</span>
      <span class="ia">ia</span>
    </div>
    <div id="form">
      <input class="id box" type="text" placeholder="아이디">
      <input class="pw box" type="password" placeholder="비밀번호">
      <input class="pwchk box" type="password" placeholder="비밀번호 확인">
      <input class="nickname box" type="text" placeholder="닉네임">
      <p>회원가입시 <a href="#">이용약관</a>에 동의하게 됩니다.</p>
      <input class="create box" type="button" value="계정 만들기">
    </div>
    <div id="do_login">이미 계정을 갖고 계신가요?
      <span class="login"><a href="#">로그인</a></span>
    </div>
  </div>
</body>
</html>
